 /* Section Blog */
 .section-container-blog {
  background-color: $color-primario;
  padding: 70px;
}
.column-image-blog {
  background-color: $color-primario;
  padding: 50px;
}
.column-text-blog {
  background-color: $color-primario;
  padding: 50px;
}
.page-blog {
  background-color: $color-primario;
}
.section-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
}
.column-notas {
  padding: 20px;
  text-align: center;
  img {
    width: 100%;
    display: block;
    border-radius: 30px;
  }
   h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    padding: 20px;
  }
  p {
    font-size: 1em;
  }
}
