/* Estilos comunes */
h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1em;
  }
  .boton{
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
  }